
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

.card{
    font-family: "Noto Sans", sans-serif;
    box-shadow: 0 0 10px 5px rgba(157, 157, 157, 0.2);
    height: fit-content;
    min-height: 100%;
    min-width: 16rem;
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 18rem;
    border-radius: 5px;
    transition: transform 0.25s ease;
    cursor: pointer;
}

.card:hover{
    transform: scale(1.05);
    z-index: 100;
}

.card_nome{
    color: rgba(29, 28, 28, 0.861);
    font-weight: bold;
    font-size: 18px;
    padding-top: 10px;
}

.card_img{
    height: 16rem;
    width:100%;
    object-fit: cover;
    border-radius: 5px 5px 0 0;
}

.card_body{
    border-radius: 0 0 5px 5px;
    text-align: center;
    width: 100%;
    display: flex;
    flex-direction: column;
    background: rgb(223, 223, 227);
    padding: 10px;
    text-align: left;
}

.card_categoria, .card_qtd{
    color: rgba(68, 66, 66, 0.697);
}

.card_buy_button{
    margin-top: 1.5rem;
    padding: 0.5rem;
    border-radius: 7px;
    color: white;
    font-weight: bold;
    background-color: rgb(6, 85, 169);
    width: 100%;
    box-sizing: border-box;
}

.card_buy_button:hover{
    background-color: rgb(59, 131, 194);
}

.card_marca{
    font-weight: bold;
    color: rgb(253, 160, 0);
}

.card_name, .card_categoria{
    line-height: 100%;
    margin: 1vh 0;
}

@media screen and (max-width: 700px){
    .card{
        flex-direction: row;
        width: 90vw;
        height: fit-content;
    }

    .card_img{
        max-width: 35vw;
        height: auto;
        border-radius: 10px 0 0 10px;
    }

    .card_body{
        border-radius: 0 10px 10px 0;
        max-height: none;
    }

    .card_nome{
        font-size: 25px;
    }

    .card_categoria, .card_qtd{
        font-size: 15px;
    }

    .card_buy_button{
        font-size: 15px;
        width: 50%;
    }
}

@media screen and (max-width: 400px){
    .card_categoria, .card_marca, .card_qtd{
        font-size: 13px;
    }

    .card_nome{
        font-size: 20px;
    }
}