.navbar{
    height: 100px;
    background-color: rgba(220, 220, 223, 0.64);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.39);
    z-index: 1000;
    color: rgb(32, 83, 136)

}

.navbar_nav{
    max-width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    padding: 0 2vw;
}

.logo{
    position: absolute;
    left: 2vw;
    top: 10px;
    height: 70px;
    margin: auto;
    cursor: pointer;
}

.nav_item{
    display: flex;
    align-items: center;
}

.nav_links{
    display: flex;
    gap: 4.5rem;
    font-size: 1.4rem;
}

.nav_item:hover>a{
    color: rgb(37, 151, 196);
    transition: 0.5s;
}

.icon_button{
    display: flex;
    gap: 1rem;
    font-size: 1rem;
    align-items: center;
}

@media screen and (max-width: 768px) {
    .navbar {
        height: auto;
        padding: 80px 10px 20px;
    }
    
    .navbar_nav {
        flex-direction: column;
        align-items: center;
        margin-right: 0;
    }
    
    .logo {
        position: absolute;
        left: 50%;
        top: 10px;
        transform: translateX(-50%);
        height: 60px;
    }
    
    .nav_links {
        flex-direction: column;
        gap: 1.5rem;
        width: 100%;
        margin-top: 20px;
    }
    
    .nav_item {
        justify-content: center;
        width: 100%;
    }
    
    .nav_links > .nav_item> .icon_button {
        margin-top: 1rem;
        padding-top: 1rem;
        border-top: 1px solid rgba(0, 0, 0, 0.1);
    }
    
    .icon_button {
        justify-content: center;
        font-size: 15px;
        padding-left: 0px;
    }
}

