@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

.footer {
    font-family: "Noto Sans", sans-serif;
    background-color: rgb(6, 21, 47);
    color: white;
    width: 100%;
    padding: 2rem;
    font-size: 18px;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;
    
}

.address {
    flex: 1;
    min-width: 250px;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding-left: 5rem;
    color: rgba(186, 185, 185, 0.722);
}

.address_title {
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
    font-weight: bold;
    color: white;
}

.copyright {
    flex: 1;
    min-width: 250px;
    text-align: center;
    color: rgb(220, 220, 220);
}

.social_media {
    flex: 1;
    min-width: 200px;
    display: flex;
    justify-content: center;
    gap: 1.5rem;
}

.social_link {
    color: white;
    transition: transform 0.2s;
}
.social_link:hover {
    transform: scale(1.1);
}

.icon {
    font-size: 1.9rem;
}

.street, .avenue, .phone{
    display: flex;
    align-items: center;
    gap: 1.2rem;
}

@media screen and (max-width: 768px) {
    .container {
        flex-direction: column;
        align-items: center;
        text-align: center;
        font-size: 0.9rem;
    }

    .social_media {
        justify-content: center;
        margin-top: 1rem;
    }

    .address, .copyright {
        align-items: center;
    }

    .address{
        padding-left: 0px;
    }

    .address_title{
        font-size: 17px;
    }
}
